<div class="content-wrapper"
    style="background-image: url('assets/images/fondos/plataforma_fondo2.png');background-repeat: no-repeat;height: 100%;background-size: cover;">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title" style="padding-top: 5px;">
                                <i class="pi pi-briefcase mr-2"></i>
                                Cargos
                            </h3>
                            <button type="button" class="btn btn-primary btn-sm float-right" data-toggle="modal"
                                (click)="AbrirModal(false)">
                                <i class="fas fa-plus-circle mr-2"></i> Agregar cargo
                            </button>
                            <button #btnActualizaCargo type="button" hidden data-toggle="modal"
                                (click)="AbrirModal(true)">
                            </button>
                        </div>
                        <div class="card-body">
                            <table #dataTableCargos class="table table-bordered table-striped" style="width: 100%;">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="cargoModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{ isEditing ? 'Actualizar cargo' : 'Agregar cargo' }}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form [formGroup]="cargoForm" (ngSubmit)="OnSubmit()">
                    <div class="modal-body">
                        <div class="card-body row">
                            <div class="col-lg-12 form-group">
                                <div class="row align-items-center">
                                    <label for="nombreCargo" class="col-lg-3 col-md-4 col-sm-12 col-form-label">Nombre
                                        del cargo:</label>
                                    <div class="col-lg-9 col-md-8 col-sm-12">
                                        <input type="text"
                                            [ngClass]="{ 'is-invalid': cargoForm.get('nombreCargo')!.errors && cargoForm.get('nombreCargo')!.touched}"
                                            class="form-control" placeholder="Nombre del cargo"
                                            formControlName="nombreCargo">
                                        <div class="invalid-feedback"
                                            *ngIf="cargoForm.get('nombreCargo')!.errors && cargoForm.get('nombreCargo')!.touched">
                                            El nombre del cargo es obligatorio
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer text-end">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-save mr-2"></i>
                            {{ isEditing ? 'Actualizar' : 'Guardar' }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>