<div class="content-wrapper"
    style="background-image: url('assets/images/fondos/plataforma_fondo2.png');background-repeat: no-repeat;height: 100%;background-size: cover;">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title" style="padding-top: 5px;">
                                <i class="fas fa-user-alt mr-2"></i>
                                Empleados
                            </h3>
                            <button type="button" class="btn btn-primary btn-sm float-right" data-toggle="modal"
                                (click)="AbrirModal(false)" *ngIf="VerificarRolUsuario(['RH'])"
                                title="Agregar empleado">
                                <i class="fas fa-plus-circle"></i>
                            </button>
                            <button type="button" class="btn btn-success btn-sm float-right mr-2" data-toggle="modal"
                                (click)="descargarTable()" title="Descargar empleados">
                                <i class="fas fa-download"></i>
                            </button>
                            <button #btnActualizaEmpleado type="button" hidden data-toggle="modal"
                                (click)="AbrirModal(true)" title="Actualizar empleado">
                            </button>
                        </div>
                        <div class="card-body">
                            <table #dataTableEmpleados class="table table-bordered table-striped" style="width: 100%;">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="empleadoModal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{ isEditing ? 'Actualizar empleado' : 'Agregar empleado' }}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form [formGroup]="empleadoForm" (ngSubmit)="OnSubmit()">
                    <div class="modal-body">

                        <!-- ================== INFORMACIÓN PERSONAL + FOTO ================== -->
                        <div class="row align-items-start">
                            <div class="col-lg-10 col-md-12 pr-lg-4">
                                <h6 class="text-dark border-bottom pb-2 mb-3">Información Personal</h6>

                                <div class="row">

                                    <!-- CÉDULA -->
                                    <div class="col-lg-4 mb-3">
                                        <label style="font-size: 13px;">Cédula</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                                            </div>
                                            <input #cedulaInput type="text" class="form-control"
                                                formControlName="cedulaEmpleado" maxlength="10"
                                                placeholder="Ingrese la cédula"
                                                (keypress)="appComponent.soloNumeros($event)"
                                                (keydown.enter)="validarCedula()" (blur)="validarCedula()"
                                                [readonly]="isEditing"
                                                [ngClass]="{'is-invalid': esInvalido('cedulaEmpleado')}" />
                                        </div>
                                        <div class="invalid-feedback d-block" style="font-size: 11px;"
                                            *ngIf="esInvalido('cedulaEmpleado')">
                                            {{ getErrorMsg('cedulaEmpleado') }}
                                        </div>
                                    </div>

                                    <!-- NOMBRES -->
                                    <div class="col-lg-4 mb-3">
                                        <label style="font-size: 13px;">Nombres</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                                            </div>
                                            <input type="text" class="form-control" formControlName="nombreEmpleado"
                                                placeholder="Ingrese los nombres"
                                                [ngClass]="{'is-invalid': esInvalido('nombreEmpleado')}" />
                                        </div>
                                        <div class="invalid-feedback d-block" style="font-size: 11px;"
                                            *ngIf="esInvalido('nombreEmpleado')">
                                            {{ getErrorMsg('nombreEmpleado') }}
                                        </div>
                                    </div>

                                    <!-- APELLIDOS -->
                                    <div class="col-lg-4 mb-3">
                                        <label style="font-size: 13px;">Apellidos</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-user-tag"></i></span>
                                            </div>
                                            <input type="text" class="form-control" formControlName="apellidoEmpleado"
                                                (blur)="generarCorreoCorporativo()" placeholder="Ingrese los apellidos"
                                                [ngClass]="{'is-invalid': esInvalido('apellidoEmpleado')}" />
                                        </div>
                                        <div class="invalid-feedback d-block" style="font-size: 11px;"
                                            *ngIf="esInvalido('apellidoEmpleado')">
                                            {{ getErrorMsg('apellidoEmpleado') }}
                                        </div>
                                    </div>

                                    <!-- TELÉFONO -->
                                    <div class="col-lg-4 mb-3">
                                        <label style="font-size: 13px;">Teléfono</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-phone"></i></span>
                                            </div>
                                            <input type="text" class="form-control" formControlName="telefonoEmpleado"
                                                maxlength="10" (keypress)="appComponent.soloNumeros($event)"
                                                placeholder="Ingrese el teléfono"
                                                [ngClass]="{'is-invalid': esInvalido('telefonoEmpleado')}" />
                                        </div>
                                        <div class="invalid-feedback d-block" style="font-size: 11px;"
                                            *ngIf="esInvalido('telefonoEmpleado')">
                                            {{ getErrorMsg('telefonoEmpleado') }}
                                        </div>
                                    </div>

                                    <!-- EMAIL PERSONAL -->
                                    <div class="col-lg-4 mb-3">
                                        <label style="font-size: 13px;">Email Personal</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                            </div>
                                            <input type="email" class="form-control" formControlName="emailEmpleado"
                                                placeholder="Ingrese el email personal"
                                                [ngClass]="{'is-invalid': esInvalido('emailEmpleado')}" />
                                        </div>
                                        <div class="invalid-feedback d-block" style="font-size: 11px;"
                                            *ngIf="esInvalido('emailEmpleado')">
                                            {{ getErrorMsg('emailEmpleado') }}
                                        </div>
                                    </div>

                                    <!-- FECHA NACIMIENTO -->
                                    <div class="col-lg-4 mb-3">
                                        <label style="font-size: 13px;">Fecha de Nacimiento</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i
                                                        class="fas fa-birthday-cake"></i></span>
                                            </div>
                                            <input type="date" class="form-control" formControlName="fechaNacimiento"
                                                [ngClass]="{'is-invalid': esInvalido('fechaNacimiento')}" />
                                        </div>
                                        <div class="invalid-feedback d-block" style="font-size: 11px;"
                                            *ngIf="esInvalido('fechaNacimiento')">
                                            {{ getErrorMsg('fechaNacimiento') }}
                                        </div>
                                    </div>

                                    <!-- DIRECCIÓN -->
                                    <div class="col-lg-6 mb-3">
                                        <label style="font-size: 13px;">Dirección</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-map-marker-alt"></i>
                                                </span>
                                            </div>
                                            <input type="text" class="form-control" formControlName="direccionEmpleado"
                                                placeholder="Ingrese su dirección"
                                                [ngClass]="{'is-invalid': esInvalido('direccionEmpleado')}" />
                                        </div>
                                        <div class="invalid-feedback d-block" style="font-size: 11px;"
                                            *ngIf="esInvalido('direccionEmpleado')">
                                            {{ getErrorMsg('direccionEmpleado') }}
                                        </div>
                                    </div>


                                </div>
                            </div>

                            <!-- FOTO -->
                            <div class="col-lg-2 col-md-12 mt-3 mt-lg-0 pl-lg-4 border-left-lg">
                                <div class="card-body text-center p-0">
                                    <img [src]="previewUrl ? previewUrl : (empleadoForm.get('fotoUrl')?.value ? empleadoForm.get('fotoUrl')?.value : 'assets/images/providers/Usuario.png')"
                                        class="rounded-circle shadow cursor-pointer foto-empleado"
                                        [ngClass]="{'border border-danger': fotoRequeridaError}"
                                        (click)="fileInput.click()" (error)="enFotoError($event)" title="Cambiar foto"
                                        alt="Foto empleado" (keydown)="handleKeyDown($event)" />
                                    <input type="file" hidden #fileInput (change)="enfotoSeleccionada($event)"
                                        accept=".png,.jpg,.jpeg" />

                                    <div class="text-danger mt-2" style="font-size: 11px;" *ngIf="fotoRequeridaError">
                                        Debe seleccionar una foto.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- ================== INFORMACIÓN CORPORATIVA ================== -->
                        <h6 class="text-dark border-bottom pb-2 mt-2">Información Corporativa</h6>
                        <div class="row mt-3">
                            <div class="col-lg-2 mb-3">
                                <label style="font-size: 13px;">Fecha de Ingreso</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                                    </div>

                                    <input type="date" class="form-control" formControlName="fechaIngreso"
                                        [ngClass]="{'is-invalid': esInvalido('fechaIngreso')}" />
                                </div>

                                <div class="invalid-feedback d-block" style="font-size: 11px;"
                                    *ngIf="esInvalido('fechaIngreso')">
                                    {{ getErrorMsg('fechaIngreso') }}
                                </div>
                            </div>

                            <div class="col-lg-2 mb-3">
                                <label style="font-size: 13px;">Número de Cuenta</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-university"></i></span>
                                    </div>
                                    <input type="text" class="form-control" formControlName="numeroCuenta"
                                        placeholder="Ingrese el número de cuenta"
                                        [ngClass]="{'is-invalid': esInvalido('numeroCuenta')}" />
                                    <div class="invalid-feedback d-block" style="font-size: 11px;"
                                        *ngIf="esInvalido('numeroCuenta')">
                                        {{ getErrorMsg('numeroCuenta') }}
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-2 mb-3">
                                <label style="font-size: 13px;">Sueldo</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text">$</span></div>
                                    <input type="number" class="form-control" formControlName="sueldoEmpleado" min="0"
                                        step="0.01" placeholder="Ingrese el sueldo"
                                        [ngClass]="{'is-invalid': esInvalido('sueldoEmpleado')}" />
                                    <div class="invalid-feedback d-block" style="font-size: 11px;"
                                        *ngIf="esInvalido('sueldoEmpleado')">
                                        {{ getErrorMsg('sueldoEmpleado') }}
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 mb-3">
                                <label style="font-size: 13px;">Número Corporativo</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-mobile-alt"></i></span>
                                    </div>
                                    <input type="text" class="form-control" formControlName="numeroCorporativo"
                                        (keypress)="appComponent.soloNumeros($event)" maxlength="10"
                                        placeholder="Ingrese el número corporativo" />
                                </div>
                            </div>

                            <div class="col-lg-3 mb-3">
                                <label style="font-size: 13px;">Email Corporativo</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-building"></i></span>
                                    </div>
                                    <input type="email" class="form-control" formControlName="emailCorporativo"
                                        placeholder="Ingrese el email corporativo" (focus)="generarCorreoCorporativo()"
                                        [ngClass]="{'is-invalid': esInvalido('emailCorporativo')}" />
                                </div>
                                <div class="invalid-feedback d-block" style="font-size: 11px;"
                                    *ngIf="esInvalido('emailCorporativo')">
                                    {{ getErrorMsg('emailCorporativo') }}
                                </div>
                            </div>

                        </div>

                        <!-- ================== UBICACIÓN ORGANIZACIONAL ================== -->
                        <h6 class="text-dark border-bottom pb-2 mt-2">Ubicación Organizacional</h6>
                        <div class="row mt-3">

                            <!-- SUCURSAL -->
                            <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                                <label class="font-weight-semibold">Sucursal</label>
                                <div class="position-relative">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-store"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="-- Seleccionar --"
                                            [formControl]="sucursalControl" (input)="FilterSucursales()"
                                            (focus)="visualizarSucursales = true" (blur)="HideSucursales()"
                                            autocomplete="off" [ngClass]="{'is-invalid': esInvalido('idSucursal')}" />
                                    </div>

                                    <ul *ngIf="visualizarSucursales && lstSucursalesFiltrados?.length"
                                        class="list-group dropdown-autocomplete">
                                        <li class="list-group-item list-group-item-action"
                                            *ngFor="let sucursal of lstSucursalesFiltrados"
                                            (mousedown)="SelectSucursal(sucursal)">
                                            {{ sucursal.descripcionSucursal }}
                                        </li>
                                    </ul>

                                    <div class="invalid-feedback d-block" style="font-size: 11px;"
                                        *ngIf="esInvalido('idSucursal')">
                                        Debe seleccionar la sucursal.
                                    </div>
                                </div>
                            </div>

                            <!-- DEPARTAMENTO -->
                            <div class="col-lg-3 col-md-6 col-sm-12 mb-3">
                                <label class="font-weight-semibold">Departamento</label>
                                <div class="position-relative">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-sitemap"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="-- Seleccionar --"
                                            [formControl]="departamentoControl" (input)="FilterDepartamentos()"
                                            (focus)="visualizarDepartamentos = true" (blur)="HideDepartamentos()"
                                            autocomplete="off"
                                            [ngClass]="{'is-invalid': esInvalido('idDepartamento')}" />
                                    </div>

                                    <ul *ngIf="visualizarDepartamentos && lstDepartamentosFiltrados?.length"
                                        class="list-group dropdown-autocomplete">
                                        <li class="list-group-item list-group-item-action"
                                            *ngFor="let departamento of lstDepartamentosFiltrados"
                                            (mousedown)="SelectDepartamento(departamento)">
                                            {{ departamento.nombreDepartamento }}
                                        </li>
                                    </ul>

                                    <div class="invalid-feedback d-block" style="font-size: 11px;"
                                        *ngIf="esInvalido('idDepartamento')">
                                        Debe seleccionar el departamento.
                                    </div>
                                </div>
                            </div>

                            <!-- CARGO -->
                            <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
                                <label class="font-weight-semibold">Cargo</label>
                                <div class="position-relative">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-briefcase"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="-- Seleccionar --"
                                            [formControl]="cargoControl" (input)="FilterCargos()"
                                            (focus)="visualizarCargos = true" (blur)="HideCargos()" autocomplete="off"
                                            [ngClass]="{'is-invalid': esInvalido('idCargo')}" />
                                    </div>

                                    <ul *ngIf="visualizarCargos && lstCargosFiltrados?.length"
                                        class="list-group dropdown-autocomplete">
                                        <li class="list-group-item list-group-item-action"
                                            *ngFor="let cargo of lstCargosFiltrados" (mousedown)="SelectCargo(cargo)">
                                            {{ cargo.nombreCargo }}
                                        </li>
                                    </ul>

                                    <div class="invalid-feedback d-block" style="font-size: 11px;"
                                        *ngIf="esInvalido('idCargo')">
                                        Debe seleccionar el cargo.
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="modal-footer text-end">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-save mr-2"></i>
                            {{ isEditing ? 'Actualizar' : 'Guardar' }}
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <!-- Modal para la asignación de activos a empleados -->
    <div class="modal fade" id="productoModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Asignar Producto</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form [formGroup]="productoEmpleadoForm">
                    <div class="modal-body">
                        <h6 class="text-dark border-bottom pb-2">Información Empleado</h6>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                    <div class="row align-items-center">
                                        <label for="cedulaEmpleado"
                                            class="col-lg-4 col-md-4 col-sm-12 col-form-label">Cédula:</label>
                                        <div class="col-lg-8 col-md-8 col-sm-12">
                                            <input type="text"
                                                [ngClass]="{ 'is-invalid': productoEmpleadoForm.get('cedulaEmpleado')!.errors && productoEmpleadoForm.get('cedulaEmpleado')!.touched}"
                                                class="form-control" formControlName="cedulaEmpleado">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                    <div class="row align-items-center">
                                        <div class="col-lg-7"></div>
                                        <div class="col-lg-5 col-md-6 col-sm-12">
                                            <input type="date" class="form-control bg-light"
                                                formControlName="fechaGeneracion">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 col-md-6 col-sm-12 form-group">
                                    <div class="row align-items-center">
                                        <label for="nombreEmpleado" class="col-lg-2 col-md-4 col-sm-12 col-form-label">
                                            Empleado:
                                        </label>
                                        <div class="col-lg-10 col-md-8 col-sm-12">
                                            <input type="text" class="form-control" placeholder="Nombre del empleado"
                                                formControlName="nombreCompleto">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-body">
                        <h6 class="text-dark border-bottom pb-2">Información Producto</h6>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                    <div class="row align-items-center">
                                        <label class="col-lg-4 col-md-6 col-sm-12 col-form-label">Marca:</label>
                                        <div class="col-lg-8 col-md-6 col-sm-12">
                                            <input type="text" class="form-control" placeholder="Seleccionar"
                                                [formControl]="marcaControl" (input)="FilterMarcas()"
                                                (focus)="visualizarMarcas = true;" (blur)="HideMarcas()"
                                                [ngClass]="{ 'is-invalid': marcaControl!.errors && marcaControl!.touched }">
                                            <ul *ngIf="visualizarMarcas" class="list-group">
                                                <li class="list-group-item" *ngFor="let marca of lstMarcasFiltradas"
                                                    (mousedown)="SelectMarca(marca)">
                                                    {{marca.nombreMarca}}
                                                </li>
                                            </ul>
                                            <div class="invalid-feedback"
                                                *ngIf="marcaControl!.errors && marcaControl!.touched">
                                                Debe seleccionar una marca.
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                    <div class="row align-items-center">
                                        <label for="idModelo"
                                            class="col-lg-2 col-md-6 col-sm-12 col-form-label">Modelo:</label>
                                        <div class="col-lg-10 col-md-6 col-sm-12">
                                            <input type="text" class="form-control" placeholder="Seleccionar"
                                                [formControl]="modeloControl" (input)="FilterModelos()"
                                                (focus)="visualizarModelos = true;" (blur)="HideModelos()"
                                                [ngClass]="{ 'is-invalid': modeloControl!.errors && modeloControl!.touched }">
                                            <ul *ngIf="visualizarModelos" class="list-group">
                                                <li class="list-group-item" *ngFor="let modelo of lstModelosFiltrados"
                                                    (mousedown)="SelectModelo(modelo)">
                                                    {{modelo.nombreModelo}}
                                                </li>
                                            </ul>
                                            <div class="invalid-feedback"
                                                *ngIf="modeloControl!.errors && modeloControl!.touched">
                                                Debe seleccionar un modelo.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 col-md-6 col-sm-12 form-group">
                                    <div class="row align-items-center">
                                        <label class="col-lg-2 col-md-6 col-sm-12 col-form-label">Producto:</label>
                                        <div class="col-lg-9 col-md-6 col-sm-12">
                                            <input type="text" class="form-control" placeholder="Seleccionar"
                                                [formControl]="productoControl" (input)="FilterProductos()"
                                                (focus)="visualizarProductos = true;" (blur)="HideProductos()"
                                                [ngClass]="{ 'is-invalid': productoControl!.errors && productoControl!.touched }"
                                                [readOnly]="isEditing">
                                            <ul *ngIf="visualizarProductos && !isEditing" class="list-group">
                                                <li class="list-group-item"
                                                    *ngFor="let producto of lstProductosFiltrados"
                                                    (mousedown)="SelectProducto(producto)">
                                                    {{producto.codigoProducto}} - {{producto.nombreProducto}}
                                                </li>
                                            </ul>
                                            <div class="invalid-feedback"
                                                *ngIf="productoControl!.errors && productoControl!.touched">
                                                Debe seleccionar un producto.
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-primary btn-sm float-right"
                                            data-toggle="modal" (click)="AgregarProductoLista()">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-body" *ngIf="lstProductosEmpleado.length > 0">
                        <h6 class="text-dark border-bottom pb-2">Productos a Asignar</h6>
                        <div class="card-body">
                            <div class="col-lg-12 col-md-6 col-sm-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Código</th>
                                                <th>Marca</th>
                                                <th>Modelo</th>
                                                <th>Nombre</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of lstProductosEmpleado; let i = index">
                                                <td>{{item.producto?.codigoProducto}}</td>
                                                <td>{{item.producto?.modelo?.marca?.nombreMarca }}</td>
                                                <td>{{item.producto?.modelo?.nombreModelo }}</td>
                                                <td>{{item.producto?.nombreProducto}}</td>
                                                <td class="text-center">
                                                    <button type="button" class="btn btn-sm btn-danger"
                                                        (click)="EliminarProductoLista(i)">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <h6 class="text-dark border-bottom pb-2">Generar Acta</h6>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12 col-md-6 col-sm-12 form-group">
                                    <div class="row align-items-center">
                                        <label class="col-lg-3 col-md-6 col-sm-12 col-form-label">Tipo de Acta:</label>
                                        <div class="col-lg-9 col-md-6 col-sm-12">
                                            <input type="text" class="form-control" placeholder="Seleccionar"
                                                [formControl]="tipoActaControl" (input)="FilterTipoActas()"
                                                (focus)="visualizarTiposActa = true;" (blur)="HideTipoActa()"
                                                [ngClass]="{ 'is-invalid': tipoActaControl!.errors && tipoActaControl!.touched }">
                                            <ul *ngIf="visualizarTiposActa" class="list-group">
                                                <li class="list-group-item"
                                                    *ngFor="let tipoActa of lstTipoActaFiltradas"
                                                    (mousedown)="SelectTipoActa(tipoActa)">
                                                    {{tipoActa.nombreTipoActa}}
                                                </li>
                                            </ul>
                                            <div class="invalid-feedback"
                                                *ngIf="tipoActaControl!.errors && tipoActaControl!.touched">
                                                Debe seleccionar el tipo de acta.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 col-md-6 col-sm-12 form-group">
                                    <div class="row align-items-center">
                                        <label class="col-lg-3 col-md-6 col-sm-12 col-form-label">Empleado
                                            Entrega:</label>
                                        <div class="col-lg-9 col-md-6 col-sm-12">
                                            <input type="text" class="form-control" placeholder="Seleccionar"
                                                [formControl]="empleadoEntregaControl"
                                                (input)="FilterEmpleados('entrega')"
                                                (focus)="visualizarEmpleadosEntrega = true;"
                                                (blur)="HideEmpleados('entrega')"
                                                [ngClass]="{ 'is-invalid': empleadoEntregaControl!.errors && empleadoEntregaControl!.touched }">
                                            <ul *ngIf="visualizarEmpleadosEntrega" class="list-group">
                                                <li class="list-group-item"
                                                    *ngFor="let empleado of lstEmpleadoEntregaFiltrado"
                                                    (mousedown)="SelectEmpleado(empleado, 'entrega')">
                                                    {{empleado.nombreEmpleado}} {{empleado.apellidoEmpleado}}
                                                </li>
                                            </ul>
                                            <div class="invalid-feedback"
                                                *ngIf="empleadoEntregaControl!.errors && empleadoEntregaControl!.touched">
                                                Debe seleccionar el empleado que entrega el activo.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- TODO: AVERIGUAR SI SE PUEDE CAMBIAR QUIEN O SI ES DESHABILITADO ESE CAMPO  -->
                            <div class="row">
                                <div class="col-lg-12 col-md-6 col-sm-12 form-group">
                                    <div class="row align-items-center">
                                        <label class="col-lg-3 col-md-6 col-sm-12 col-form-label">Empleado
                                            Recibe:</label>
                                        <div class="col-lg-9 col-md-6 col-sm-12">
                                            <input type="text" class="form-control" placeholder="Seleccionar"
                                                [formControl]="empleadoRecibeControl"
                                                (input)="FilterEmpleados('recibe')"
                                                (focus)="visualizarEmpleadosRecibe = true;"
                                                (blur)="HideEmpleados('recibe')"
                                                [ngClass]="{ 'is-invalid': empleadoRecibeControl!.errors && empleadoRecibeControl!.touched }">
                                            <ul *ngIf="visualizarEmpleadosRecibe" class="list-group">
                                                <li class="list-group-item"
                                                    *ngFor="let empleado of lstEmpleadoRecibeFiltrado"
                                                    (mousedown)="SelectEmpleado(empleado, 'recibe')">
                                                    {{empleado.nombreEmpleado}} {{empleado.apellidoEmpleado}}
                                                </li>
                                            </ul>
                                            <div class="invalid-feedback"
                                                *ngIf="empleadoRecibeControl!.errors && empleadoRecibeControl!.touched">
                                                Debe seleccionar el empleado que recibe el activo.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 col-md-6 col-sm-12 form-group">
                                    <div class="row align-items-center">
                                        <label for="observacion"
                                            class="col-lg-3 col-md-4 col-sm-12 col-form-label">Observaciones:</label>
                                        <div class="col-lg-9 col-md-8 col-sm-12">
                                            <input type="text"
                                                [ngClass]="{ 'is-invalid': productoEmpleadoForm.get('observacion')!.errors && productoEmpleadoForm.get('observacion')!.touched}"
                                                class="form-control" placeholder="Obeservacion"
                                                formControlName="observacion" maxlength="60">
                                            <div class="invalid-feedback"
                                                *ngIf="productoEmpleadoForm.get('observacion')!.errors && productoEmpleadoForm.get('observacion')!.touched">
                                                <div
                                                    *ngIf="productoEmpleadoForm.get('observacion')!.hasError('maxlength')">
                                                    La observación no puede exceder los 255 caracteres.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="text-right">
                            <button type="submit" class="btn btn-success float-righ"
                                *ngIf="lstProductosEmpleado.length > 0" (click)="GuardarProductosAsignados()">
                                <i class="fas fa-save mr-2"></i> Guardar
                            </button>
                        </div>
                    </div>
                </form>

                <div class="modal-body" *ngIf="lstProductosAsignados.length > 0">
                    <h6 class="text-dark border-bottom pb-2">Productos Asignados</h6>
                    <div class="card-body">
                        <div class="col-lg-12 col-md-6 col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Código</th>
                                            <th>Marca</th>
                                            <th>Modelo</th>
                                            <th>Nombre</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of lstProductosAsignados; let i = index">
                                            <td>{{item.codigoProducto}}</td>
                                            <td>{{item.nombreMarca }}</td>
                                            <td>{{item.nombreModelo }}</td>
                                            <td>{{item.nombreProducto}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Modal para la visualización de documentos del empleado -->
    <div class="modal fade" id="modalDocumentos" tabindex="-1" aria-labelledby="modalDocumentosLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalDocumentosLabel">
                        Documentos generados
                        <small class="text-muted" *ngIf="empleadoSeleccionado"> · {{ empleadoSeleccionado }}</small>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <div class="text-muted text-truncate" style="max-width: 70%;" *ngIf="zipNombre">
                            {{ zipNombre }}
                        </div>
                        <div>
                            <a *ngIf="zipUrl" class="btn btn-success btn-sm" [href]="zipUrl" target="_blank"
                                rel="noopener">
                                <i class="fas fa-file-archive mr-1"></i> Descargar ZIP
                            </a>
                            <button *ngIf="!zipUrl" class="btn btn-success btn-sm" disabled>
                                <i class="fas fa-file-archive mr-1"></i> ZIP no disponible
                            </button>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-sm table-bordered mb-0">
                            <thead class="thead-light">
                                <tr>
                                    <th>Documento</th>
                                    <th style="width: 120px;">Tamaño (KB)</th>
                                    <th style="width: 120px;" class="text-center">Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let d of lstDocumentosEmpleado">
                                    <td class="align-middle text-truncate" style="max-width: 420px;" [title]="d.nombre">
                                        {{ d.nombre }}
                                    </td>
                                    <td class="align-middle text-nowrap" style="text-align: right;">{{ d.size_kb }}</td>
                                    <td class="text-center align-middle">
                                        <a class="btn btn-primary btn-sm" [href]="d.url" target="_blank" rel="noopener"
                                            title="Descargar">
                                            <i class="fas fa-download"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr *ngIf="(lstDocumentosEmpleado?.length || 0) === 0">
                                    <td colspan="3" class="text-center py-3">
                                        No hay documentos generados.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
                        Cerrar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>