<a routerLink="/home/index" class="brand-link" style="color: white;">
    <img src="./assets/dist/img/nuevoLogo.png" alt="Seguros Suárez Logo" class="brand-image img-circle elevation-3">
    <span class="brand-text font-weight-light color:white" >{{appName}}</span>
</a>

<div class="sidebar" style="background-image: url('assets/images/fondos/fondo_menu.png');">
    <nav class="mt-2">
        <ul name="mainParent" class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
            data-accordion="false">
            <!-- Nómina -->
            <li class="nav-item has-treeview" *ngIf="VerificarRolUsuario(['ACT','RH'])">
                <a href="javascript:void(0)" class="nav-link">
                    <i class="nav-icon fas fa-users mr-2" style="color: white;"> </i>
                    <p style="color: white;">Nómina
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul name="childParent" class="nav nav-treeview">
                    <li class="nav-item ml-3" *ngIf="VerificarRolUsuario(['ACT','RH'])">
                        <a routerLink="/home/cargos" class="nav-link" routerLinkActive="active"
                            (click)="SetActive($event)">
                            <i class="nav-icon pi pi-briefcase mr-2" style="color: white;"> </i>
                            <p style="color: white;">Cargos</p>
                        </a>
                    </li>
                    <li class="nav-item ml-3" *ngIf="VerificarRolUsuario(['ACT','RH'])">
                        <a routerLink="/home/departamentos" class="nav-link" routerLinkActive="active"
                            (click)="SetActive($event)">
                            <i class="nav-icon pi pi-sitemap mr-2" style="color: white;"> </i>
                            <p style="color: white;">Departamentos</p>
                        </a>
                    </li>
                    <li class="nav-item ml-3" *ngIf="VerificarRolUsuario(['ACT','RH'])">
                        <a routerLink="/home/sucursales" class="nav-link" routerLinkActive="active"
                            (click)="SetActive($event)">
                            <i class="nav-icon pi pi-building mr-2" style="color: white;"> </i>
                            <p style="color: white;">Sucursales</p>
                        </a>
                    </li>
                    <li class="nav-item ml-3" *ngIf="VerificarRolUsuario(['ACT','RH'])">
                        <a routerLink="/home/empleados" class="nav-link" routerLinkActive="active"
                            (click)="SetActive($event)">
                            <i class="nav-icon fas fa-user-alt mr-2" style="color: white;"> </i>
                            <p style="color: white;">Empleados</p>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- Control de Activos -->
            <li class="nav-item has-treeview" *ngIf="VerificarRolUsuario(['FIN', 'ACT','PRES'])">
                <a href="javascript:void(0)" class="nav-link">
                    <i class="nav-icon fas fa-landmark mr-2" style="color: white;"> </i>
                    <p style="color: white;">Control Activos
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul name="childParent" class="nav nav-treeview">
                    <li class="nav-item ml-3" *ngIf="VerificarRolUsuario(['FIN', 'ACT','PRES'])">
                        <a routerLink="/home/marcas" class="nav-link" routerLinkActive="active"
                            (click)="SetActive($event)">
                            <i class="nav-icon fas fa-landmark mr-2" style="color: white;"> </i>
                            <p style="color: white;">Marcas</p>
                        </a>
                    </li>
                    <li class="nav-item ml-3" *ngIf="VerificarRolUsuario(['FIN', 'ACT','PRES'])">
                        <a routerLink="/home/modelos" class="nav-link" routerLinkActive="active"
                            (click)="SetActive($event)">
                            <i class="nav-icon fas fa-list-alt mr-2" style="color: white;"> </i>
                            <p style="color: white;">Modelos</p>
                        </a>
                    </li>
                    <li class="nav-item ml-3" *ngIf="VerificarRolUsuario(['FIN', 'ACT','PRES'])">
                        <a routerLink="/home/empleados" class="nav-link" routerLinkActive="active"
                            (click)="SetActive($event)">
                            <i class="nav-icon fas fa-user-alt mr-2" style="color: white;"> </i>
                            <p style="color: white;">Empleados</p>
                        </a>
                    </li>
                    <li class="nav-item ml-3" *ngIf="VerificarRolUsuario(['FIN', 'ACT','PRES'])">
                        <a routerLink="/home/proveedores" class="nav-link" routerLinkActive="active"
                            (click)="SetActive($event)">
                            <i class="nav-icon fas fa-truck mr-2" style="color: white;"> </i>
                            <p style="color: white;">Proveedores</p>
                        </a>
                    </li>
                    <li class="nav-item ml-3" *ngIf="VerificarRolUsuario(['FIN', 'ACT','PRES'])">
                        <a routerLink="/home/bienes" class="nav-link" routerLinkActive="active"
                            (click)="SetActive($event)">
                            <i class="nav-icon fas fa-shopping-bag mr-2" style="color: white;"> </i>
                            <p style="color: white;">Bienes</p>
                        </a>
                    </li>
                    <li class="nav-item ml-3" *ngIf="VerificarRolUsuario(['FIN', 'ACT','PRES'])">
                        <a routerLink="/home/activos" class="nav-link" routerLinkActive="active"
                            (click)="SetActive($event)">
                            <i class="nav-icon fas fa-clipboard-list mr-2" style="color: white;"> </i>
                            <p style="color: white;">Productos</p>
                        </a>
                    </li>
                    <li class="nav-item ml-3" *ngIf="VerificarRolUsuario(['FIN', 'ACT','PRES'])">
                        <a routerLink="/home/inventario" class="nav-link" routerLinkActive="active"
                            (click)="SetActive($event)">
                            <i class="nav-icon fas fa-list-ol mr-2" style="color: white;"> </i>
                            <p style="color: white;">Inventario</p>
                        </a>
                    </li>
                </ul>
            </li>

            <!-- Presupuestos -->
            <li class="nav-item has-treeview" *ngIf="VerificarRolUsuario(['FIN', 'PRES'])">
                <a href="javascript:void(0)" class="nav-link">
                    <i class="nav-icon fas fa-chart-pie mr-2" style="color: white;"> </i>
                    <p style="color: white;">Presupuestos
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul name="childParent" class="nav nav-treeview">
                    <li class="nav-item ml-3" *ngIf="VerificarRolUsuario(['FIN', 'PRES'])">
                        <a routerLink="/home/presupuestos/planCuentas" class="nav-link" routerLinkActive="active"
                            (click)="SetActive($event)">
                            <i class="nav-icon fa fa-building mr-2" style="color: white;"> </i>
                            <p style="color: white;">Plan Cuentas</p>
                        </a>
                    </li>
                    <li class="nav-item ml-3" *ngIf="VerificarRolUsuario(['FIN', 'PRES'])">
                        <a routerLink="/home/presupuestos/presupuesto" class="nav-link" routerLinkActive="active"
                            (click)="SetActive($event)">
                            <i class="nav-icon fa fa-money-bill-wave mr-2" style="color: white;"> </i>
                            <p style="color: white;">Presupuesto Anual</p>
                        </a>
                    </li>
                    <li class="nav-item ml-3" *ngIf="VerificarRolUsuario(['FIN', 'PRES'])">
                        <a routerLink="/home/presupuestos/resultados" class="nav-link" routerLinkActive="active"
                            (click)="SetActive($event)">
                            <i class="nav-icon fa fa-chart-line mr-2" style="color: white;"> </i>
                            <p style="color: white;">Gasto Mensual</p>
                        </a>
                    </li>
                    <li class="nav-item ml-3">
                        <a routerLink="/home/presupuestos/indicadores" class="nav-link" routerLinkActive="active"
                            (click)="SetActive($event)">
                            <i class="nav-icon fa fa-poll-h mr-2" style="color: white;"> </i>
                            <p style="color: white;">Indicadores Financieros</p>
                        </a>
                    </li>
                    <li class="nav-item ml-3">
                        <a routerLink="/home/presupuestos/dashboard" class="nav-link" routerLinkActive="active"
                            (click)="SetActive($event)">
                            <i class="nav-icon fa fa-chart-pie mr-2" style="color: white;"> </i>
                            <p style="color: white;">DashBoard</p>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>