<div class="content-wrapper"
    style="background-image: url('assets/images/fondos/plataforma_fondo2.png');background-repeat: no-repeat;height: 100%;background-size: cover;">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6 d-none d-sm-block">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
                        <li class="breadcrumb-item"><a routerLink="/home/presupuestos">Presupuestos</a></li>
                        <li class="breadcrumb-item active">Plan de Cuentas</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title" style="padding-top: 5px;">
                                <i class="fa fa-building mr-2"></i>
                                Plan de Cuentas
                            </h3>
                            <button type="button" class="btn btn-primary btn-sm float-right" data-toggle="modal"
                                (click)="AbrirModal(false)">
                                <i class="fas fa-plus-circle mr-2"></i> Agregar Plan Cuentas
                            </button>
                            <button #btnActualizaPlan type="button" hidden data-toggle="modal"
                                (click)="AbrirModal(true)">
                            </button>
                        </div>
                        <div class="card-body">
                            <table #dataTablePlan class="table table-bordered table-striped" style="width: 100%;">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="planModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{ isEditing ? 'Actualizar Plan de Cuentas' : 'Agregar Plan de Cuentas' }}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form [formGroup]="planCuentaForm" (ngSubmit)="OnSubmit()">
                    <div class="modal-body">
                        <div class="card-body row">
                            <div class="col-lg-12 form-group">
                                <div class="row align-items-center">
                                    <label for="codigoPlan" class="col-lg-3 col-md-4 col-sm-12 col-form-label">Código:</label>
                                    <div class="col-lg-9 col-md-8 col-sm-12">
                                        <input type="text"
                                            [ngClass]="{ 'is-invalid': planCuentaForm.get('codigoPlan')!.errors && planCuentaForm.get('codigoPlan')!.touched }"
                                            class="form-control" placeholder="Nombre del Plan de Cuentas"
                                            formControlName="codigoPlan">
                                        <div class="invalid-feedback"
                                            *ngIf="planCuentaForm.get('codigoPlan')!.errors && planCuentaForm.get('codigoPlan')!.touched">
                                            El código del Plan de cuentas
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 form-group">
                                <div class="row align-items-center">
                                    <label for="nombrePlan" class="col-lg-3 col-md-4 col-sm-12 col-form-label">Nombre:</label>
                                    <div class="col-lg-9 col-md-8 col-sm-12">
                                        <input type="text"
                                            [ngClass]="{ 'is-invalid': planCuentaForm.get('nombrePlan')!.errors && planCuentaForm.get('nombrePlan')!.touched }"
                                            class="form-control" placeholder="Nombre del Plan de Cuentas"
                                            formControlName="nombrePlan">
                                        <div class="invalid-feedback"
                                            *ngIf="planCuentaForm.get('nombrePlan')!.errors && planCuentaForm.get('nombrePlan')!.touched">
                                            El nombre del Plan de cuentas es obligatorio
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 form-group">
                                <div class="row align-items-center">
                                    <label for="idPadre" class="col-lg-3 col-md-4 col-sm-12 col-form-label">Padre:</label>
                                    <div class="col-lg-9 col-md-8 col-sm-12">
                                        <input type="text"
                                            [ngClass]="{ 'is-invalid': planCuentaForm.get('idPadre')!.errors && planCuentaForm.get('idPadre')!.touched }"
                                            class="form-control" placeholder="Nombre del Padre"
                                            formControlName="idPadre">
                                        <div class="invalid-feedback"
                                            *ngIf="planCuentaForm.get('idPadre')!.errors && planCuentaForm.get('idPadre')!.touched">
                                            El padre es obligatorio
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 form-group">
                                <div class="row align-items-center">
                                    <label for="nivelPlan" class="col-lg-3 col-md-4 col-sm-12 col-form-label">Nivel Plan:</label>
                                    <div class="col-lg-9 col-md-8 col-sm-12">
                                        <input type="text"
                                            [ngClass]="{ 'is-invalid': planCuentaForm.get('nivelPlan')!.errors && planCuentaForm.get('nivelPlan')!.touched }"
                                            class="form-control" placeholder="Nivel del Plan de Cuentas"
                                            formControlName="nivelPlan">
                                        <div class="invalid-feedback"
                                            *ngIf="planCuentaForm.get('nivelPlan')!.errors && planCuentaForm.get('nivelPlan')!.touched">
                                            El nivel del Plan de cuentas es obligatorio
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer text-end">
                        <button type="submit" class="btn btn-success">
                            <i class="fas fa-save mr-2"></i>
                            {{ isEditing ? 'Actualizar' : 'Guardar' }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>