<div class="content-wrapper"
    style="background-image: url('assets/images/fondos/plataforma_fondo1.png'); background-repeat: no-repeat; height: 100vh; background-size: cover;">
    <section class="content" style="height:90%;">
        <div class="container-fluid h-100">
            <div class="row h-100">
                <div class="col-12 col-md-6 order-md-1 d-flex align-items-center">
                    <div>
                        <h1 class="mb-5"
                            style="font-weight: 400 !important; text-align: center; color: rgba(255, 255, 255, 1); font-size: 50px;">
                            Bienvenido
                        </h1>
                        <h4 style="font-weight: 500 !important; font-size: 30px;padding-left:20px">Este es tu portal
                            para realizar tus
                            movimientos<span style="color: rgba(255, 236, 15, 1); font-size: 30px;"> y consultas en
                                línea</span></h4>
                    </div>
                </div>
                <div class="col-12 col-md-6 order-md-2 d-flex justify-content-end align-items-end">
                    <img src="assets/images/profile_Image/plataforma_persona.png" alt="Imágen de persona computadora SS"
                        class="img-fluid" style="max-width: 75%; width: 100%;">
                </div>
            </div>
        </div>
    </section>
</div>